<h5 class="text-center">Angular fundamentals</h5>
<div class="row">
    <div class="col-12">
        <dt>In this Section:</dt>
        <ol>
            <li><a href="javascript:void(0)" [routerLink]="['./components']">Components</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['./templates']">Templates</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['./directives']">Directives</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['./services']">Services</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <dt>Building Block of Angular Apps:</dt>
        <ul>
            <dt>Component:</dt>
            <ul>
                <li>Encaple the data</li>
                <li>The Html markup</li>
                <li>Logic for a view</li>
            </ul>
        </ul>
    </div>
</div>