<h5 class="text-center">Angular Directives</h5>

<div class="row">
    <div class="col-12">
        <dt>Directives:</dt>
        <ul>
            <dt>ngFor:</dt>
            <ul>
                <dt>Syntax</dt>
                <ul>
                    <pre class="font-weight-bold"> {{ngForSyntax}} </pre>
                </ul>
                <dt>Example</dt>
                <ol>
                    <li *ngFor="let course of courses">{{course}}</li>
                </ol>
            </ul>
        </ul>
    </div>
</div>