<h5 class="text-center">Angular Templates</h5>
<hr />
<div class="row">
    <div class="col-12">
        <ul><code class="font-weight-bold">{{interpolatinSyntax}}</code> - interpolation</ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h5 class="text-center">Displaying Data and Handling Events</h5>
        <hr />
        <div class="row">
            <div class="col-12">
                <dt>In this Section:</dt>
                <ol>
                    <li>Display data</li>
                    <li>Apply classes / styles dynamically</li>
                    <li>Format data using pipes</li>
                    <li>Handle events</li>
                </ol>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <dt>Bindings</dt>
        <ol>
            <li><a href="javascript:void(0)" [routerLink]="['property-binding']">Property Binding</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['attribute-binding']">Attribute Binding</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['class-binding']">Class Binding</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['style-binding']">Style Binding</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['event-binding']">Event Binding</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['event-filtering']">Event Filtering</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['template-variables']">Template Variables</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['two-way-binding']">Two-way Binding</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['pipes']">Pipes</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['custom-pipes']">Custom Pipes</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <dt>Version meanings:</dt>
        <ul>
            <li><code class="font-weight-bold">^3.3.7</code> - major.minor.patch</li>
            <li><code class="font-weight-bold">^</code> - most recent major version</li>
        </ul>
    </div>
</div>