<h5 class="text-center">Attribute Binding</h5>
<hr />
<div class="row">
    <div class="col-12">
        <ul>
            <dt>Syntax:</dt>
            <ul>
                <li>
                    <code class="font-weight-bold">{{syntax}}</code>
                </li>
            </ul>
            <dt>Example:</dt>
            <div class="row ml-3">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Title</th>
                            <th>Extra</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>1</td>
                        <td>Angular</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>React js</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td [attr.colspan]="colSpan">Learn React Native</td>
                    </tr>
                </table>
            </div>
        </ul>
    </div>
</div>