<h5 class="text-center">Angular Components</h5>
<div class="row">
    <div class="col-12">
        <dt>Components:</dt>
        <ul>
            <li>Create a component</li>
            <li>Register it in a module</li>
            <li>Add an element in an Html markup</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <dt>Generating component using angular CLI:</dt>
        <ul>
            <li>Open terminal - <code class="font-weight-bold">Ctrl + ~</code></li>
            <li>Generate component - <code class="font-weight-bold">ng <u title="g for generate">g</u> <u class="ml-2" title="c for component">c</u>
                    course</code></li>
        </ul>
    </div>
</div>